<p>Olá {{name}},</p>

<p>Por favor, clique no link abaixo para verificar seu e-mail:</p>
<a href="{{verificationUrl}}">Verificar E-mail</a>

<p>Se você não solicitou essa verificação, ignore este e-mail.</p>

<p>Atenciosamente,</p>
<p>Equipe {{companyName}}</p>
